{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="mt-4">Edit product</h2>
    <hr>

    <div class="row">
        <div class="col-md-7">
            {{ form_start(form) }}
            {{ form_widget(form) }}
                <button class="btn btn-success">Update</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}